/////////////////////////
////     Mixins      ////
/////////////////////////

@mixin tablet {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 1024px) {
    @content;
  }
}

@mixin breakSpecial {
  @media only screen and (min-width: 1150px) {
    @content;
  }
}

/////////////////////////
////Containers & Flex////
/////////////////////////

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  @include desktop {
    max-width: 1310px;
  }
}

/////////////////////////
////     Colors      ////
/////////////////////////

$primaryColor: #3b3b3b;
$secondColor: #f71963;
$thirdColor: #9f9f9f;
$fourthColor: #f0f0f0;
$fifthColor: #f6f5f2;
$sixthColor: #f2f2f2;
$seventhColor: #fff;
$octaveColor: #f4f4f4;
$ninthColor: #4e4e4e;
$tenthColor: #dedede;
$eleventhColor: #3f3f40;
$twelfthColor: #808080;
$thirteenthColor: #bdbdbd;

/////////////////////////
////      Fonts      ////
/////////////////////////
/* Legenda: 400 = Regular / 700 = Bold */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

$primaryFont: 'Poppins', sans-serif;
$ligth: 300;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 900;
