/////////////////////////
////     Mixins      ////
/////////////////////////

@mixin tablet {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 1024px) {
    @content;
  }
}

/////////////////////////
////Containers & Flex////
/////////////////////////

.container {
  width: 100%;
  margin: 0 auto;
  @include desktop {
    max-width: 1315px;
    padding: 0 15px;
  }
}

/////////////////////////
////     Colors      ////
/////////////////////////

$primaryColor: #3b3b3b;
$secondColor: #f71963;
$thirdColor: #9f9f9f;
$fourthColor: #f0f0f0;
$fifthColor: #f6f5f2;
$sixthColor: #f2f2f2;
$seventhColor: #fff;

/////////////////////////
////      Fonts      ////
/////////////////////////
/* Legenda: 400 = Regular / 700 = Bold */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

$primaryFont: 'Poppins', sans-serif;
$ligth: 300;
$medium: 500;
$semibold: 600;
$bold: 700;
