/////////////////////////
////     Mixins      ////
/////////////////////////

@mixin tablet {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 1081px) {
    @content;
  }
}

/////////////////////////
////Containers & Flex////
/////////////////////////

.container {
  width: 100%;
  margin: 0 auto;
  @include desktop {
    max-width: 1315px;
    padding: 0 15px;
  }
}

/////////////////////////
////     Colors      ////
/////////////////////////

$primaryColor: #3b3b3b;
$secondColor: #f71963;
$thirdColor: #fff;
$fourthColor: #9f9f9f;
$fifthColor: #f8f8f8;
$sixthColor: #f2f2f2;
$seventhColor: #cdcdcd;

/////////////////////////
////      Fonts      ////
/////////////////////////
/* Legenda: 400 = Regular / 700 = Bold */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

$primaryFont: 'Lato', sans-serif;
